{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

			<header class="page-header center-center x-large image-background image-32 no-padding dark-color">
				<div class="mask opacity-5">

					<div class="container v-align-center">
						<div class="row">
							<div class="col-md-12 text-light">
								<div class="nav-style-1 header-transparent-header-space"></div>
							  <h1 class="large text-light block">We're happy to be working with you.</h1>						  
							</div>
						</div>
					</div>
			</header>

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block meta_main %}

<div class="row" style="margin-top: 48px;">
<div class="col-md-offset-1 col-md-10">
<h1>{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
</div>
</div>

{% endblock %}
