{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block meta_main %}

<div class="row">
<div class="col-md-offset-1 col-md-10">
<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot" style="margin: 30px; ">
  <div class="btn-group">
    <a class='btn btn-danger disabled'><i class="fa fa-google-plus" style="width:14px;"></i></a>
    <a class='btn btn-danger' href='/accounts/google/login/?process=login' style="width:12em;"> Sign in with Google</a>
  </div>
  <br /><br />  
  <div class="btn-group">
    <a class='btn btn-primary disabled'><i class="fa fa-facebook" style="width:14px;"></i></a>
    <a class='btn btn-primary ' href='/accounts/facebook/login/?process=login' style="width:12em"> Sign in with Facebook</a>
  </div>  
  <br /><br />
  <div class="btn-group">
    <a class='btn btn-info disabled'><i class="fa fa-twitter" style="width:14px;"></i></a>
    <a class='btn btn-info ' href='/accounts/twitter/login/?process=login' style="width:12em"> Sign in with Twitter</a>
  </div>  
</div>
{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
</div>
{% endblock %}
