{% extends "account/base.html" %}

{% load i18n %}

			<header class="page-header center-center x-large image-background image-32 no-padding dark-color">
				<div class="mask opacity-5">

					<div class="container v-align-center">
						<div class="row">
							<div class="col-md-12 text-light">
								<div class="nav-style-1 header-transparent-header-space"></div>
							  <h1 class="large text-light block">We're happy to be working with you.</h1>						  
							</div>
						</div>
					</div>
			</header>

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block meta_main %}
<div class="row">
<div class="col-md-offset-1 col-md-10">
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans 'Sign Out' %}</button>
</form>
</div>
</div>
{% endblock %}
