{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

<header class="page-header center-center x-large image-background image-32 no-padding dark-color">
				<div class="mask opacity-5">

					<div class="container v-align-center">
						<div class="row">
							<div class="col-md-12 text-light">
								<div class="nav-style-1 header-transparent-header-space"></div>
							  <h1 class="large text-light block">We're happy to be working with you.</h1>						  
							</div>
						</div>
					</div>
			</header>

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block meta_main %}
<div class="row">
<div class="col-md-offset-1 col-md-10">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
</div>
{% endblock %}
