{% extends 'base.html' %}
{% load staticfiles %} 

{% block content %}
<div class="container">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<br><br><br> <!-- removed header tags and spacing with break tags so that map begins below bootstap css -->
<div class="row">
<div class="col-md-8">
<div id="mapid" style="height: 200px; margin-bottom: 30px;"></div>
</div>
</div>
<form method="post" action="./">
    {% csrf_token %}
    <input id="id_address" name="address" value="{{ location2 }}" type="hidden">
    <input type="submit" value="Search" />
</form>

{% if sellers %}
<h2>sellers near you</h2>
<ul>
    {% for seller in sellers %}
    <li><a href="javascript::void(0);" onclick="start_order({{ seller.id }});">{{ seller.picture }}<b>{{ seller.name }}</b>: Distance: {{ seller.distance.mi }} Miles away.</a></li>
    {% endfor %}
</ul>
<div class="row">
<div class="col-md-6">
<div id="order_div"></div>
</div>
</div>
{% else %}
<p>There are no sellers near you.</p> 
	<li><b><u><a href = "/login">Sign up to sell.</a></u></b></li>
{% endif %}
</div>
{% endblock %}

{% block javascript %}
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script>

var mymap = L.map('mapid').setView([{{ location1 }}], 12 );

<!-- get location on map initialize-->
	function onLocationFound(e) {	
		var marker = L.marker(e.latlng, {icon: currentIcon}).addTo(mymap).openPopup();
		}
		
	function onLocationError(e) {
		alert(e.message);
		}

	
		
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
    maxZoom: 20,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
    id: 'mapbox.streets'
}).addTo(mymap);

var currentIcon = L.icon({
    iconUrl: '{% static "img/PIN.png" %}',
    iconSize:     [50, 45], // size of the icon
    iconAnchor:   [13, 35], // point of the icon which will correspond to marker's location
    popupAnchor:  [0, -24] // point from which the popup should open relative to the iconAnchor
});

var marker = L.marker([{{ location1 }}], {icon: currentIcon}).addTo(mymap).bindPopup('You Are Here!')
  .openPopup(); 

// add markers for sellers
{% for seller in sellers %}
    L.marker([{{ seller.location.y }}, {{ seller.location.x }}]).addTo(mymap).bindPopup('{{ seller.name }}');        
{% endfor %}

function onMapClick(e) {
    $('#id_address').val(e.latlng.lng+' '+e.latlng.lat);
    // remove current marker
    mymap.removeLayer(marker);  

    // add updated current marker
    var pos = e.latlng.lat+' '+e.latlng.lng;
    marker = L.marker(e.latlng, {icon: currentIcon}).addTo(mymap).openPopup(); //.bindPopup(pos).openPopup();

	}

mymap.on('click', onMapClick);
<!-- add get location -->
mymap.on('locationfound', onLocationFound);
mymap.on('locationerror', onLocationError);

 
</script>   

<script type="text/javascript">
function start_order(seller_id) 
{
    $.post('/start_order/', {'id': seller_id})
    .success(function(data){
      $('#order_div').html(data);
    });
}
</script>
{% endblock %}