<h3>Order Information</h3>
<form method="post" class="form-horizontal" role="form" action="">
    {% csrf_token %}
  {% for elem in form %}
  <div class="form-group">
    <label class="control-label col-sm-3" for="id_{{elem.name}}">{{elem.label}}:</label>
    <div class="col-sm-6">
	  {% if elem.name == "thumbnail" %}
    	<img src="/static/media/{{ elem.value }}" class="img-responsive">
	  {% else %}
      	{{ elem }} 
      {% endif %}   	
    </div>
  </div>	
  {% endfor %}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-warning">Confirm Order</button>
    </div>
  </div>		
</form>