{% extends "base.html" %}

{% load static %}

{% block main %}
<div class="row">
  </div>

  <div class="inner cover">
    <p class="lead">Welcome. We are a network of mostly Cottage Food Businesses who prepare and deliver baked goods locally.</p> 
	<p> If you're an approved Cottage Food Business, we want you to join us. </p>
	
	<p>If you're a consumer, we want you to order something delicious.</p>
	
<!--source for setting button http://instafollowbutton.com/ -->	
<span class="ig-follow" data-id="5479dee" data-handle="igfbdotcom" data-count="true" data-size="small" data-username="true"></span>

	</div>
	
<script>(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="//x.instagramfollowbutton.com/follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));</script>
{% endblock %}