{% extends "base.html" %}

{% load static %}
{% load tz %}

{% block main %}
<div class="inner cover">
    <p class="lead">Welcome. We are a network of mostly Cottage Food Businesses who prepare and deliver fresh baked goods locally.</p> 
	<p class="lead"><b><a href="/buy">Buy</a></b> or <b><a href="/login">Sell</a></b> something delicious today.</p>
</div>	
<!-- want to add follow buttons here for Instagram, Twitter, FB -->
<div class="container" style="text-align:center">
	<style>.ig-b- { display: inline-block; }
	.ig-b- img { visibility: hidden; }
	.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
	.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
	<a href="https://www.instagram.com/getfreshbaked/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
</div>

<div class="bottom_footer">
	<a href='/static/TERMS OF SERVICE.pdf' >Terms of Service and Privacy</a>
</div>
{% endblock %}