{% extends "base.html" %}
{% block content %}
{% load socialaccount %}
{% load static %}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.js"></script>

 
	<br>
    <div class="container-fluid">
      <div class="starter-template">
		<!-- form -->
			<div class="container-fluid">
				<div class="col-md-4">
				<br><br>
				
				<div>
				{% if user and not user.is_anonymous %}
				  <h3>Hello, {{ user.get_full_name }}. </h3>
				  <p>We're happy to be working with you. Please enter the below information to complete your application. Once we approve your application you will be able to begin accepting orders and delivering product.</p>				  
				  
				  
				{% else %}
					<div class="inner cover">

						<h1 class="cover-heading"></h1>
							<p class="lead"></p>
							<p> <a href="{% provider_login_url 'stripe' %}" class="btn btn-default">Connect With Stripe</a></p>
					</div>

				{% endif %} 
		</div>
				
				
				<form method="POST" id="post-form" >
					{% csrf_token %}
					<div class="fieldWrapper" id="the_post">
						{{ form.as_p }}
					</div>

					<input type="submit" value="Post" class="tiny button">
				</form>
				</div>
			</div>
		</div>
	</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script src="{% static 'app.js' %}"></script>		
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

	
{% endblock %}
	
