<!doctype html>
{% load staticfiles %}
{% load socialaccount %} <!-- add for login and logout in nav bar -->

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <meta name="description" content='Get fresh warm cookies and other baked good delivered right now! Find nearby bakers who deliver in your area.' />
	<meta name="title" content="GetFreshBaked"/>
	<meta name="keywords" content="Get fresh baked, getfreshbaked, homemade, baked, cookies, bake, chocolate chip cookies, get cookies now, get cookies, baked cookies, cookie recipies, sell homemade, baked goods, bakedgoods, christmas cookies"/>
    <meta name="robots" content"index,follow"/>
	<title>GetFreshBaked</title> <!-- what shows up in the tabe-->
	<link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16" />
	<link rel="stylesheet" type="text/css" href="/static/css/datetimepicker.css">

	<!-- Mobile Specific Metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
 
	<!-- CSS ================================================== -->

	<!-- web font  -->
	<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<!-- Neko framework  -->
	<link type="text/css" rel="stylesheet" href="/static/spoon/files/custom-icons/css/custom-icons.css">
	<link type="text/css" rel="stylesheet" href="/static/spoon/files/neko-framework/external-plugins/external-plugins.min.css">
	<link type="text/css" rel="stylesheet" href="/static/spoon/files/neko-framework/css/layout/neko-framework-layout.css">
	<link type="text/css" rel="stylesheet" id="color" href="/static/spoon/files/neko-framework/css/color/neko-framework-pink.css"> 
	<link type="text/css" rel="stylesheet" href="/static/spoon/files/css/custom.css">
	<link type="text/css" rel="stylesheet" href="/static/css/jquery-ui.css">
	<script src="/static/spoon/files/neko-framework/external-plugins/modernizr/modernizr.custom.js"></script>


    <link rel="stylesheet" href="/static/css/solo.css"/>

	<!-- app specific -->
  	<script src="/static/js/jquery.js"></script><!-- do we need to load this again? -->
    <script src="/static/js/jquery-ui.js"></script> <!-- do we need to load this again? -->
    <script src="/static/js/solo.js"></script>

    <script src="/static/js/tracking.js"></script>		
	
</head>

<body class="activate-appear-animation header-transparent header-dark nav-style-1">
<div class="little-neko-preloader little-neko-sk-cube-grid little-neko-preloader-centered"></div> 

	<!-- global-wrapper -->
	<div id="global-wrapper">
		<!-- header -->
		<header class="menu-header navbar-fixed-top" > <!-- change this to not fixed -->
			<div class="container">
				<nav class="navbar navbar-default" >
					<div class="navbar-header" itemscope itemtype="http://schema.org/Thing">
						<!-- hamburger button -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- / hamburger button -->

						<!-- Logo -->
						<a class="navbar-brand" href="/" itemprop="url">
							<img src="/static/img/logo3.png" alt="GetFreshBaked" class="main-logo" itemprop="image">
							<img src="/static/img/logo3.png" alt="GetFreshBaked" class="main-logo-light" itemprop="image">
							
						</a>
						<!-- /Logo -->
					</div>
					<div class="collapse navbar-collapse" itemscope itemtype="http://schema.org/WebPage">
						<!-- Main navigation -->
						<ul class="nav navbar-nav navbar-right">
							<li class="neko-mega-menu-trigger" > 
								<a href="/real_estate" itemprop="relatedLink">Schedule a Delivery</a>				
							</li>						
			
							<li class="neko-mega-menu-trigger" > 
								<a href="/buy" itemprop="relatedLink">Deliver to me Now</a>				
							</li>						
							<li class="neko-mega-menu-trigger">
								<a href="/seller" itemprop="relatedLink">Sell</a>				
							</li>
						
							<li class="neko-mega-menu-trigger">
								<a href="/about" itemprop="relatedLink">About</a>				
							</li>						
						  {% if user.is_authenticated %}
							<li><a href="/accounts/logout/">Logout <span class="glyphicon glyphicon-user"></span></a></li> <!-- need to get icon-gylph-#  from neko library and replace here -->
						  {% endif %}							
					</div>
				</nav>
			</div>

		</header>
		<!-- / header -->
<!-- add main tag here so that it is correct in order_success -->
{% block main %}
{% endblock %}

{% block body %}
{% endblock %}

{% block meta_main %}
{% endblock %}


		<!-- footer -->
		<footer id="main-footer" class="dark-color">

			<div class="container">
				<div class="row">
					<div class="col-md-2  col-sm-6">
						<div class="footer-widget" itemscope itemtype="http://schema.org/Thing">

							<h3 itemprop="description" >Keep in touch</h3>
							<ul class="social-icons main-color circle social-hover">

								<li>
									<a href="https://www.instagram.com/getfreshbaked" class="linkedin" title="instagram" itemprop="url"><i class="icon-glyph-316"></i></a>
								</li>
								<li>
									<a href="https://www.facebook.com/getfreshbaked" class="facebook" title="facebook" itemprop="url"><i class="icon-glyph-320"></i></a>
								</li>
								<li>
									<a href="https://www.twitter.com/getfreshbaked" class="twitter" title="twitter" itemprop="url"><i class="icon-glyph-339"></i></a>
								</li>
								</ul> 

						</div>
					</div>

					<div class="col-sm-4  col-sm-6">
						<div class="footer-widget" itemscope itemtype="http://schema.org/Thing">
							<h3>About Us</h3>
							<ul class="list-unstyled list-icon arrow border">
								<li class="no-pt" itemprop="description">We're building a network of artisan bakers, to deliver high quality baked goods on-demand. <a href="/about" itemprop="url">Read more</a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
				<div id="footer-rights">
					<div class="container">
						<div class="row">
							<div class="col-md-12" itemscope itemtype="http://schema.org/Thing">
								<p itemprop="description"><a href='/static/TERMS OF SERVICE.pdf' target="blank" itemprop="url">GetFreshBaked, Inc.</a> / Terms of Service.</p>
							</div>

						</div>
					</div>
				</div>
			</footer>
		<!-- / footer -->

	</div>
	<!-- global wrapper -->

	<!-- End Document ================================================== -->

	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/static/spoon/files/neko-framework/js/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/static/spoon/files/neko-framework/js/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>

	<!-- external framework plugins -->
	<script type="application/javascript" src="/static/spoon/files/neko-framework/external-plugins/external-plugins.js"></script>
	<!-- neko framework script -->
	<script type="text/javascript" src="/static/spoon/files/neko-framework/js/neko-framework.js"></script>


	<!-- neko custom script -->	
	<script src="/static/spoon/files/js/custom.js"></script>
	
  </body> <!-- is this correc tto add here or should this be before <footer></footer> elements? -->
  {% block javascript %}
  {% endblock %}
</html>

		



