<!doctype html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <meta name="description" content='GetFreshBaked is a community of mostly neighborhood Cottage Food businesses which bake and deliver cookies, brownies and other treats.' >
    <title>GetFreshBaked</title> <!-- what shows up in the tabe-->
    <link rel="shortcut icon" href="/static/img/logo2.png" type="image/png"> <!-- a 16 x 16 png image -->

	<!-- Mobile Specific Metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 
	<!-- CSS ================================================== -->

	<!-- web font  -->
	<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<!-- Neko framework  -->
	<link type="text/css" rel="stylesheet" href="/static/spoon/files/custom-icons/css/custom-icons.css">
	<link type="text/css" rel="stylesheet" href="/static/spoon/files/neko-framework/external-plugins/external-plugins.min.css">
	<link type="text/css" rel="stylesheet" href="/static/spoon/files/neko-framework/css/layout/neko-framework-layout.css">
	<link type="text/css" rel="stylesheet" id="color" href="/static/spoon/files/neko-framework/css/color/neko-framework-pink.css"> 
	<link type="text/css" rel="stylesheet" href="/static/spoon/files/css/custom.css">
	<script src="/static/spoon/files/neko-framework/external-plugins/modernizr/modernizr.custom.js"></script>

	<!-- app specific -->
  	<script src="/static/js/jquery.js"></script><!-- do we need to load this again? -->
    <script src="/static/js/jquery-ui.js"></script> <!-- do we need to load this again? -->
    <script src="/static/js/solo.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/jquery.additional.validate.js"></script>
    <script src="/static/js/tracking.js"></script>
    <link rel="stylesheet" href="/static/css/solo.css"/>

	
	
</head>








<body class="activate-appear-animation header-transparent header-dark nav-style-1">
<div class="little-neko-preloader little-neko-sk-cube-grid little-neko-preloader-centered"></div> 

	<!-- global-wrapper -->
	<div id="global-wrapper">
		<!-- header -->
		<header class="menu-header navbar-fixed-top" > <!-- change this to not fixed -->
			<div id="pre-header">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<ul class="quick-menu">
								<li><a href="/buy">Buy</a><li>
								<li><a href="/seller">Sell</a></li>
								<li><a href="/about">About</a></li>
							</ul>
						</div>
						<div class="col-sm-6 col-xs-12 quick-contact">
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/getfreshbaked" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a></li>
								<li><a href="https://www.twitter.com/getfreshbaked" class="twitter" title="twitter"><i class="icon-glyph-339"></i></a></li>
								<li><a href="https://www.instagram.com/getfreshbaked" class="linkedin" title="instagram"><i class="icon-glyph-316"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<nav class="navbar navbar-default" >
					<div class="navbar-header">
						<!-- hamburger button -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- / hamburger button -->

						<!-- Logo -->
						<a class="navbar-brand" href="/">
							<img src="/static/img/logo.png" alt="GetFreshBaked" class="main-logo">
							<img src="/static/img/logo.png" alt="GetFreshBaked" class="main-logo-light">
							
						</a>
						<!-- /Logo -->
					</div>
					<div class="collapse navbar-collapse">
						<!-- Main navigation -->
						<ul class="nav navbar-nav navbar-right">
			
							<li class="neko-mega-menu-trigger"> 
								<a href="/buy">Buy</a>				
							</li>						
							<li class="neko-mega-menu-trigger">
								<a href="/seller">Sell</a>				
							</li>
						
							<li class="neko-mega-menu-trigger">
								<a href="/about">About</a>				
							</li>						
					</div>


				</nav>
			</div>

		</header>
		<!-- / header -->
{% block body %}
{% endblock %}

{% block main %}
{% endblock %}

{% block meta_main %}
{% endblock %}


		<!-- footer -->
		<footer id="main-footer" class="dark-color">

			<div class="container">
				<div class="row">
					<div class="col-md-2  col-sm-6">
						<div class="footer-widget">

							<h3>Keep in touch</h3>
							<ul class="social-icons main-color circle social-hover">

								<li>
									<a href="https://www.instagram.com/getfreshbaked"" class="linkedin" title="instagram"><i class="icon-glyph-316"></i></a>
								</li>
								<li>
									<a href="https://www.facebook.com/getfreshbaked" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a>
								</li>
								<li>
									<a href="https://www.twitter.com/getfreshbaked" class="twitter" title="twitter"><i class="icon-glyph-339"></i></a>
								</li>
								</ul> 

						</div>
					</div>

					<div class="col-sm-4  col-sm-6">
						<div class="footer-widget">
							<h3>About Us</h3>
							<ul class="list-unstyled list-icon arrow border">
								<li class="no-pt">We're building a network of artisan bakers, to deliver high quality baked goods on-demand. <a href="/about">Read more</a></li>

							</ul>
						</div>
					</div>




				</div>
			</div>
				<div id="footer-rights">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<p><a href='/static/TERMS OF SERVICE.pdf' target="blank">GetFreshBaked, Inc.</a> / Terms of Service.</p>
							</div>

						</div>
					</div>
				</div>
			</footer>
		<!-- / footer -->

	</div>
	<!-- global wrapper -->

	<!-- End Document ================================================== -->

	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/static/spoon/files/neko-framework/js/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/static/spoon/files/neko-framework/js/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>

	<!-- external framework plugins -->
	<script type="application/javascript" src="/static/spoon/files/neko-framework/external-plugins/external-plugins.js"></script>
	<!-- neko framework script -->
	<script type="text/javascript" src="/static/spoon/files/neko-framework/js/neko-framework.js"></script>


	<!-- neko custom script -->	
	<script src="/static/spoon/files/js/custom.js"></script>
	
  </body>
  {% block javascript %}
  {% endblock %}
</html>

		



