<h1>seller GEO-Test</h1>

<form method="post" action="./">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Search"  />
</form>

{% if sellers %}
<h2>sellers near you</h2>
<ul>
    {% for seller in sellers %}
    <li><b>{{ seller.name }}</b>: distance: {{ seller.distance }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- hard coded the api key. need to pass this as an environment variable from settings.py or config.py. not sure how to do this -->
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARs6CfrMGGhgZk4wjojfE5Gi0AiZzBOQ4&callback="
  type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		var latlng = new google.maps.LatLng("{{ latitude }}", "{{ longitude }}");
		
		var mapOptions = {
            zoom: 15,
            center: latlng,
            mapTypeControl: false,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map($('.map')[0], mapOptions);
    
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"You Are Here"
        });
        
        {% for seller in sellers %}
            latlng = new google.maps.LatLng("{{ seller.location.y }}", "{{ seller.location.x }}");
            new google.maps.Marker({
                position: latlng,
                map: map,
                title:"{{ seller.name }}"
            });
        {% endfor %}

	

	  });
</script>
<div class="map" style="width: 400px; height: 400px;"></div>


