{% extends 'base.html' %}

{% block body %}
<main id="content">

	<!-- splash screen -->
	<header class="page-header center-center nk-fullscreen image-32 image-background no-padding">
		<div class="mask opacity-6">

			<div class="container v-align-center">
				<div class="row">
					<div class="col-md-12 text-light">
						<div class="nav-style-1 header-transparent-header-space"></div>
						<h1 class="x-large block text-light" data-nekoanim="fadeInUp" data-nekodelay="200">Get Fresh Cookies,
							<span class="block pt-small" data-nekoanim="fadeIn" data-nekodelay="800">And Other Baked Goods Delivered</span>
						</h1>
						<!-- change scroll link from #news to #buy -->
						<a class="btn primary medium ml-xsmall mb-xsmall" href = "/buy">Find Nearby Bakers</a>
						<!--<a href="#buy" class="btn large primary scroll-link" target="_blank">Find Nearby Bakers</a> -->
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- / splash screen -->

<!-- call to action -->
</main>
{% endblock %}





		



