<!DOCTYPE html>
{% load static %}
{% load socialaccount %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Test</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{% static 'cover.css' %}">
	
	<!-- stripe javascript -->
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
	

</head>
						
						<!-- perform distance query using GeoDjango and return list of fulfillment partners who service within the distance radius they've identified and time for taking orders is also valid based on timestamp -->
						
						<!-- then allow user to select fulfillment partner -->
						
						<!-- then allow user to select order details -->
						
						<!-- then allow user to checkout with stripe -->
						
						<!-- token from customer will be charged and payment will be delivered to fulfillment partner selected -->
						
						<!-- then fulfillment partner and customer will receive order invoice via text or email or both -->
						
						<!-- then email will be sent to customer with link to survey and allow to provide feedback about fulfillment partner and to share on social media -->

				</body>
				{% endblock %}


		  
		  
		  
		  
		  



	
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
