<!-- order screen -->
{% load static %}
{% load socialaccount %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Test</title>
	
	<!-- stripe javascript -->
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
	
	<!-- leaflet javascript -->

</head>

{% block content %}
	<br><br>
	

	<!-- map of location -->
	<div id="map"></div>
			
			<!-- leaflet stylesheet -->
			<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
			
			<!-- leaflet javascript -->
			<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
			
			<!-- mobile responsive meta of map -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
			
			
			
			<!-- map stylesheet -->
			<style>
				body {
					padding: 0;
					margin: 0;
				}
				html, body, #map {
					height: 80%;
				}
				, #latitude
				
			</style>
			
			<!-- map of user location -->
			<script>
				var map = L.map('map');
				
						L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
							maxZoom: 50,
							attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
								'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
								'Imagery © <a href="http://mapbox.com">Mapbox</a>',
							id: 'mapbox.streets'
						}).addTo(map);


						function onLocationFound(e) {
							var radius = e.accuracy / 2;
							
							L.circle(e.latlng, radius).addTo(map);
							
						}

						function onLocationError(e) {
							
							
							alert(e.message);
							<!-- need to add a form where user can enter address for GeoJson search  in case location services is turned off -->
							<!-- or simply ask user to enable location services in their browser and try again -->
						}

					
						var popup = L.popup();	
						
						function onMapClick(e) {
							var latitude = e.latlng.lat;
							var longitude = e.latlng.lng;
							
							popup
								.setLatLng(e.latlng)
								.setContent("You clicked the map at " + e.latlng.toString())
								.openOn(map);
						}
						
						
						map.on('click', onMapClick);
						map.on('locationfound', onLocationFound);
						map.on('locationerror', onLocationError);

						map.locate({setView: true, maxZoom: 16});
					</script>
					
					<div class="container-fluid">
						<div class="center">
							<p> <a href="{% static '/checkout' %}" class="btn btn-default">Checkout</a></p>
						
						</div>
					</div>						
											
						<!-- perform distance query using GeoDjango and return list of fulfillment partners who service within the distance radius they've identified and time for taking orders is also valid based on timestamp -->
						
						<!-- then allow user to select fulfillment partner -->
						
						<!-- then allow user to select order details -->
						
						<!-- then allow user to checkout with stripe -->
						
						<!-- token from customer will be charged and payment will be delivered to fulfillment partner selected -->
						
						<!-- then fulfillment partner and customer will receive order invoice via text or email or both -->
						
						<!-- then email will be sent to customer with link to survey and allow to provide feedback about fulfillment partner and to share on social media -->

				{% endblock %}




<!-- find location with HTML 5 -- >
				
					
					<!-- sign in with your social media account to get items -->
					<!--	<h1 class="cover-heading"></h1>
					<!--		<p> <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-default" >Login with Google</a></p>
					</div> -->
		  
					<!-- html 5 location from browswer -->
					<!-- source: http://www.w3schools.com/html/tryit.asp?filename=tryhtml5_geolocation_map -->
						<!--<p>Click the button to get your coordinates.</p>-->
						<!--<button onclick="getLocation()">Try It</button>-->
					<!--
						<p id="demo"></p>

						<script>
						var x = document.getElementById("demo");

						function getLocation() {
							if (navigator.geolocation) {
								navigator.geolocation.getCurrentPosition(showPosition, showError);
							} else { 
								x.innerHTML = "Geolocation is not supported by this browser.";
							}
						}

						<!-- need to save this in the server and calculate distance to nearest fullfillment partner and then return list of partners
						function showPosition(position) {
							x.innerHTML = "Latitude: " + position.coords.latitude + 
							"<br>Longitude: " + position.coords.longitude;	
						}

						function showError(error) {
							switch(error.code) {
								case error.PERMISSION_DENIED:
									x.innerHTML = "User denied the request for Geolocation."
									break;
								case error.POSITION_UNAVAILABLE:
									x.innerHTML = "Location information is unavailable."
									break;
								case error.TIMEOUT:
									x.innerHTML = "The request to get user location timed out."
									break;
								case error.UNKNOWN_ERROR:
									x.innerHTML = "An unknown error occurred."
									break;
							}
						}
						
							};
						
						-->




<!-- find me -->


<!-- once you find me, if there are fulfillment partners which serve my area, return list of providers. -->
<!-- once I select a provider, take me to checkout screen -->

<!-- if you can't find me ask for address. -->

<!-- if there are no Fulfillment Providers who serve my area, return to -->





