{% extends request.is_ajax|yesno:"ajax.html,base.html" %}
{% block main %}
<h3>Order Information</h3>
{{ form.errors }}
<form method="post" class="form-horizontal" role="form" action="/charge/" id="order_form">
    {% csrf_token %}
    <input type="hidden" name="stripeToken" id="stripe_token">
  {% for elem in form %}
  <div class="form-group">
    <label class="control-label col-sm-3" for="id_{{elem.name}}">{{elem.label}}:</label>
    <div class="col-sm-6">
      	{{ elem }} 
    </div>
  </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button id="customButton" class="btn btn-primary">Pay with Card</button>      
    </div>
    <!-- <div class="col-sm-offset-2 col-sm-7" style="margin-top: 10px;"><b>Note: You will see charge + tax on your bank statement</b></div> -->
  </div>		
</form>

<script>
  $('#id_quantity').attr('min', {{form.min_order_amount.value}});

  var handler = StripeCheckout.configure({
    key: '{{ key }}',
    locale: 'auto',
    token: function(token) {
      $('#stripe_token').val(token.id);
      $("#order_form").submit();
    }
  });

  $('#customButton').on('click', function(e) {
    var form = $("#order_form");
    form.validate({rules: { buyer_phone: {phone_solo: true}}});

    // Open Checkout with further options:
    if (form.valid()) {
        var quantity = parseFloat($('#id_quantity').val());
        var unit_price = parseFloat($('#id_unit_price').val().substring(1));
        var amount = quantity * unit_price * 100;
        // console.log(amount);

        handler.open({
          name: "Seller: {{form.first_name.value}}",
          description: "Purchase a item",
          currency: "usd",
          amount: amount
        });
    }
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  $(window).on('popstate', function() {
    handler.close();
  });
</script>


{% endblock %}