{% extends request.is_ajax|yesno:"ajax.html,base.html" %}

{% block main %}
<header class="page-header center-center large image-background image-32 no-padding">
	<div class="mask opacity-5">
		<div class="container v-align-center">
			<div class="row">
				<div class="col-md-12 text-light">
					<div class="nav-style-1 header-transparent-header-space"></div>
					<div class="row">
						<div class="container v-align-center col-md-12 text-light" id="map_wrapper">
							<h2>Complete the order form below
								<span>then select Pay with Card</span>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>	
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8" id="seller_wrapper">
					<h3>Order Information</h3>						
					<section class="slice">
						<div class="ln-doc">
							<div class="feature-box media-left">
							{{ form.errors }}
							<form method="post" class="form-horizontal" role="form" action="/charge/" id="order_form">
								{% csrf_token %}
								<input type="hidden" name="stripeToken" id="stripe_token">
								{{ form.first_name }}
								{{ form.distance }}
								
								{{ form.estimated_delivery }}
								{{ form.unit_price }}
								{{ form.min_order_amount }}
								{{ form.permit_number }}
								{{ form.quantity }}
								{{ form.buyer_name }}
								{{ form.buyer_phone }}
								

							  {% for elem in form %}
							  <div class="form-group">
								<label class="control-label col-sm-3" for="id_{{elem.name}}">{{elem.label}}:</label>
								<div class="col-sm-6">
									
								</div>
							  </div>
							  {% endfor %}
							  <div class="form-group">
								<div class="col-sm-offset-2 col-sm-5">
								  <button id="customButton" class="btn large primary">Pay with Card</button>      
								</div>
							  </div>		
							</form>	
							</div>
						</div>	
					</section>
				</div>
			</div>
		</div>
	</section>
		
{% endblock %}		
{% block meta_main %}		
	<div class="box no-pb white" id="help">
		<section>
			<h3 class="mt-small">Help</h3>
			<p>
				Enter your order information in the white boxes and ensure your web browser accepts cookies from this website. Your order information will be sent to the seller for fulfilment. 
			</p>
			<a href="/about" class="btn small primary">How it works</a>
		</section>
	</div>

{% endblock %}					
		
{% block javascript %}
<script>
  $('#id_quantity').attr('min', {{form.min_order_amount.value}});

  var handler = StripeCheckout.configure({
    key: '{{ key }}',
    locale: 'auto',
    token: function(token) {
      $('#stripe_token').val(token.id);
      $("#order_form").submit();
    }
  });

  $('#customButton').on('click', function(e) {
    var form = $("#order_form");
    form.validate({rules: { buyer_phone: {phone_solo: true}}});

    // Open Checkout with further options:
    if (form.valid()) {
        var quantity = parseFloat($('#id_quantity').val());
        var unit_price = parseFloat($('#id_unit_price').val().substring(1));
        var amount = quantity * unit_price * 100;
        // console.log(amount);

        handler.open({
          name: "Seller: {{form.first_name.value}}",
          description: "Purchase a item",
          currency: "usd",
          amount: amount
        });
    }
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
{% endblock %}