{% extends "base.html" %}

{% load static %}

{% block body %}

	<main id="content">

			<!-- intro -->
			<header class="page-header center-center x-large image-background image-32 no-padding dark-color">
				<div class="mask opacity-5">

					<div class="container v-align-center">
						<div class="row">
							<div class="col-md-12 text-light">
								<div class="nav-style-1 header-transparent-header-space"></div>
								<!--<h1 class="x-large block text-light" data-nekoanim="fadeInUp" data-nekodelay="200">Hello, we're Spoons -->
								<h1 class="x-large block text-light" data-nekoanim="fadeInUp" data-nekodelay="200">We're happy to be working with you,
									<span class="block pt-small" data-nekoanim="fadeIn" data-nekodelay="800">Please complete the form below to begin selling</span>
								</h1>
							</div>
						</div>
					</div>
				</div>
			</header>

{{ form.errors }}
<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data" >
    {% csrf_token %}
  {% for elem in form %}
    {% if elem.name == 'open_hour' %}
      <input type="hidden" name="{{elem.name}}" value="{{elem.value|time:"H:i"}}" id="id_{{elem.name}}">
      <div class="row" style="margin: 12px auto;">
      <div class="col-md-offset-2 col-md-7">
        <div id="time-range">
            <p><b>Service Time: <span class="slider-time">{{ form.open_hour.value }}</span> - <span class="slider-time2">{{ form.close_hour.value }}</span></b></p>
            <div class="sliders_step1">
                <div id="slider-range"></div>
            </div>
        </div>
      </div>
      </div>
    {% elif elem.name == 'close_hour' %}
      <input type="hidden" name="{{elem.name}}" value="{{elem.value|time:"H:i"}}" id="id_{{elem.name}}">
    {% else %}
      <div class="form-group">
        <label class="control-label col-md-3" for="id_{{elem.name}}">{{elem.label}}:</label>
        <div class="col-md-6">
            {{ elem }} 
        </div>
      </div>  
    {% endif %}
  {% endfor %}

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-warning">Save</button>
    </div>
  </div>		
</form>
</div>
</div>
<script type="text/javascript">
  var open_hour = {{ open_hour }};
  var close_hour = {{ close_hour }};
</script>
{% endblock %}